<html>
    <body>
        <p>
            Nom : {{ contact.nom }}
        </p>
        <p>
            Nom : {{ contact.email }}
        </p>
        <p>
            Nom : {{ contact.message | nl2br }}
        </p>
    </body>
</html>